# Git
.git
.gitignore

# Docker
.docker

# Python
assessmentplatform/__pycache__/
assessmentplatform/*/__pycache__/
assessmentplatform/*/*/__pycache__/
assessmentplatform/*/*/*/__pycache__/
assessmentplatform/local_settings.py
local_settings.py
.env/
.venv/
venv/

# Local PostgreSQL data
data/
