# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore static and media files
static/
media/

# Ignore database files
*.sqlite3
*.db

# Ignore logs
logs/
*.log

# Ignore local development files
*.env
*.env.*
*.pyc
*.swp
*.swo
*.vscode
.idea/
.vs/
