[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mezzanine = "*"
pillow = "*"
mysqlclient = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
psycopg2 = "*"
django-import-export = "*"
redis = "*"
eventlet = "*"
celery = "*"
django-templated-mail = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
drf-yasg = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
