{% load i18n %}

{% block subject %}
{% blocktrans %}Invite to Join{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You have been invited by {{inviter_name}}  to be an expert member of {{group_name}}{% endblocktrans %}

{% blocktrans %}By clicking the following link within {{ expiration_days }} days, you can have more information about this group and decide whether or not to accept their invitation.{% endblocktrans %}
{{ protocol }}://{{ domain }}/{{ url|safe }}


{% blocktrans %}Sincerely, {{ site_name }} Team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You have been invited by {{inviter_name}}  to be an expert member of {{group_name}}{% endblocktrans %}</p>

<p>{% blocktrans %}By clicking the following link within {{ expiration_days }} days, you can have more information about this group and decide whether or not to accept their invitation.{% endblocktrans %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% blocktrans %}Sincerely, {{ site_name }} Team{% endblocktrans %}</p>

{% endblock html_body %}
